section{
    text-align: center;
    
}

table{
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
}


img{
    padding-left: 220px;
}

#idMensaje{
    color: white;
    background-color: blue;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    color: #323b69;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border-color: lightgray;
    border-radius: 8px;
    border-style: solid;
    margin: 3px;
    width: 350px;
    height: 25px;
}

.tablaAncha{
    width: 721px;
}